version: '3.9'

services:

  identity:
    build: ./fgs-identity-management
    container_name: identity-service
    env_file:
      - ./fgs-identity-management/.env
    depends_on:
      - redis
    ports:
      - "3001:3000"

  products:
    build: ./fgs-products
    container_name: products-service
    env_file:
      - ./fgs-products/.env
    depends_on:
      - mongo
    ports:
      - "3002:3000"

  mongo:
    image: mongo:7
    container_name: mongo-local
    restart: always
    ports:
      - "${MONGO_PORT:-27017}:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: redis-local
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data

volumes:
  mongo_data:
  redis_data:
